body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
#navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
}
#navbar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
}
#navbar a:hover {
  background-color: #555;
}
#content {
  margin-left: 220px;
  padding: 20px;
  text-align: center;
}
#task-form {
  display: none;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
#task-form label {
  display: block;
  margin-bottom: 10px;
}
#add-task-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #d8b6ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#add-task-button:hover {
  background-color: #b98eff; /* Darker purple on hover */
}

#add-task-form {
  display: none;
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#add-task-form form {
  /* Adjust form width, margin, and text alignment as needed */
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

#add-task-form input[type="text"],
#add-task-form textarea,
#add-task-form select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#add-task-form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#add-task-form button[type="submit"]:hover {
  background-color: #45a049;
}

#add-task-form button[type="reset"] {
  background-color: #ff6347;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#add-task-form button[type="reset"]:hover {
  background-color: #ff5733;
}